
<!DOCTYPE>
<html>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <form>

    <div class="col-sm-6">
            <h1>USER EMAIL INFO</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" bgcolor="green">USER NAME</th>
      <th scope="col" bgcolor="green">USER CITY</th>
      <th scope="col" bgcolor="green">USER STATE</th>
      <th scope="col" bgcolor="green">USER COUNTRY</th>
      <th scope="col" bgcolor="green">USER PHONE</th>
      <th scope="col" bgcolor="green">USER EMAIL</th>
      <th scope="col" bgcolor="green">USER ADDHAR NO</th>
      <th scope="col" bgcolor="green">USER PAN CARD</th>
    </tr>
  </thead>
  <tbody>
        <tr>
            <td  bgcolor="pink">{{temp.name}}</td>
            <td  bgcolor="pink">{{temp.city}}</td>
            <td  bgcolor="pink">{{temp.state}}</td>
            <td  bgcolor="pink">{{temp.country}}</td>
            <td  bgcolor="pink">{{temp.phone}}</td>
            <td  bgcolor="pink">{{temp.emailid}}</td>
            <td  bgcolor="pink">{{temp.aadharcard}}</td>
            <td  bgcolor="pink">{{temp.pancard}}</td>

        </tr>


  </tbody>
</table>
 </div>
     <h1>YOUR REGISTRATTION IS SUCCESSFUL WITH US</h1>
     <a href="">CLICK HERE</a>
 </form>
</html>